html{ font-family: sans-seirf;
}

a{
  color:#CFBDF2;
  font-weight: bold;
}

a:hover {
  color: orange;
  text-decoration: none;
}

p{
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 4;
  font-size: 1.125rem;
  background: linear-gradient (to bottom, rgba(0,0,0,0.5),
  rgba(0,0,0,0.2)30%, rgba(0,0,0,0));
  background-color:#CFBDF2;
  color:#CFBDF2;
  text-shadow: 2px 2px 2px black;
  border: 1px solid #9F91ED;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px black;
}
